<div class="container p-4">
  <!-- Title -->
  <div class="row text-center">
    <div class="col">
      <h1>Edit User</h1>
    </div>
  </div>

  <!-- Body -->
  <div class="row">
    <div class="col">
      <form>
        <!-- Email -->
        <div class="form-group">
          <span>Email</span>
          <input [formControl]="email" type="email" class="form-control" />
        </div>
        <!-- Username -->
        <div class="form-group">
          <span>Username</span>
          <input [formControl]="username" type="text" class="form-control" />
        </div>
        <!-- The first day of week -->
        <div class="form-group">
          <label>The First Day Of Week </label>
          <select class="form-control" [formControl]="theFirstDayOfWeek">
            <option selected>Monday</option>
            <option>Tuesday</option>
            <option>Wednesday</option>
            <option>Thursday</option>
            <option>Friday</option>
            <option>Saturday</option>
            <option>Sunday</option>
          </select>
        </div>
        <!-- User role -->
        <div class="form-group">
          <label>Role </label>
          <select class="form-control" [formControl]="role">
            <option selected>user</option>
            <option>admin</option>
          </select>
        </div>
        <!-- Training Days -->
        <div class="form-group">
          <span>Training Days</span>
          <input
            [formControl]="trainingDays"
            type="number"
            class="form-control"
          />
        </div>
        <!-- Password -->
        <div class="form-group">
          <span>Password</span>
          <input
            [formControl]="password"
            type="password"
            class="form-control"
          />
        </div>

        <!-- is notify activate -->
        <div class="form-group">
          <span style="font-size: 1rem">is notify activate: </span>
          <input type="checkbox" [formControl]="isNotifyActive" />
        </div>
        <div class="form-group">
          <!-- is account active -->
          <span style="font-size: 1rem">is account active: </span>
          <input type="checkbox" [formControl]="isAccountActive" />
        </div>

        <button (click)="editUser()" class="btn btn-danger w-100">EDIT</button>
      </form>
    </div>
  </div>
</div>
