// #sidebar {
//   position: fixed;
//   width: 200px;
//   height: 400px;
// }

#content {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  border: none;
}

mat-sidenav {
  width: 360px;
  border: none;
  background: none;
}

mat-sidenav-container {
  border: none;
}
