app-toasts {
  position: absolute;
  top: 10px;
  right: 10px;
}

.loader_container {
  position: fixed;
  width: 100%;
  z-index: 99;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #ad1e14;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

.progress-bar {
  height: 8px;
}
