.list-group-item {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.create-button {
  color: rgb(25, 135, 83);
  font-size: 24px;
  cursor: pointer;
  margin: 4px;
}

.edit-button {
  color: white;
  background-color: rgb(255, 192, 7);
  font-size: 14px;
  border-radius: 4px;
  padding: 2.3px 5.3px;
  cursor: pointer;
  margin: 4px;
}

.delete-button {
  color: white;
  background-color: rgb(220, 52, 68);
  font-size: 14px;
  border-radius: 4px;
  padding: 2.3px 5.3px;
  cursor: pointer;
  margin: 4px;
}
