@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  height: 100%;
}
body {
  margin: 0;
  background-color: rgb(250, 250, 250) !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.sai-main {
  margin-top: 20px;

  .title {
    font-weight: 900;
  }
}
