.row {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

#header {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-family: "PT Sans", sans-serif;

  h6 {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.4);
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
  }

  h1 {
    font-weight: 700;
    color: rgb(200, 50, 34);
    font-size: 4rem;
    font-family: "PT Sans", sans-serif;
    margin-bottom: 2.2rem;
    margin-top: 1rem;
  }

  p {
    font-size: 0.9rem;
    font-family: "PT Sans", sans-serif;
    color: rgba(0, 0, 0, 0.3);
  }
}

#form {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-family: "PT Sans", sans-serif;

  input {
    border-radius: 50px;
    margin-bottom: 20px;
  }

  button {
    background-color: rgb(200, 50, 34);
    border: none;
    border-radius: 20px;
  }
}

#signup {
  margin-top: 0.7rem;
  font-family: "PT Sans", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
  a {
    color: rgb(200, 50, 34);
    font-weight: 700;
  }
}

.login_with_google {
  margin: 0px auto;
}

.google-btn {
  cursor: pointer;
  width: 184px;
  height: 42px;
  background-color: rgb(200, 50, 34);
  border-radius: 2px;
  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: -7px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff !important;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }
  &:hover {
    box-shadow: 0 0 6px rgb(200, 50, 34);
  }
}

img {
  height: 100vh;
}

.col-6 {
  margin: 0px;
  padding: 0px;
  object-fit: cover;
}

@media (max-width: 991px) {
  #right_image {
    display: none;
  }
}
