<div class="row">
  <div class="col-4">
    <!-- Workout -->
    <!-- Header -->
    <div class="row mb-2">
      <div class="col">
        <h2 class="mb-0 float-start">Workout</h2>
        <i
          (click)="createWorkout()"
          class="bi bi-plus-square-fill float-end create-button"
        ></i>
      </div>
    </div>
    <hr />
    <!-- Detail -->
    <div class="list-group">
      <a
        class="list-group-item list-group-item-action"
        aria-current="true"
        *ngFor="let workout of workouts"
        (click)="selectWorkout(workout)"
        >{{ workout.name }}
      </a>
    </div>
  </div>
  <div class="col-4" *ngIf="selectedWorkout && isVisibleActivityDay">
    <!-- Header -->
    <div class="row mb-2">
      <div class="col">
        <h2 class="mb-0 float-start">{{ selectedWorkout.name }}</h2>
        <i
          (click)="createActivityDay()"
          class="bi bi-plus-square-fill float-end create-button"
        ></i>
        <i
          *ngIf="checkDeleteButtonVisible()"
          (click)="deleteActivityDay()"
          class="bi bi-trash3-fill float-end delete-button"
        ></i>
        <i
          (click)="editWorkout()"
          class="bi bi-gear-fill float-end edit-button"
        ></i>
      </div>
    </div>
    <hr />

    <!-- Activity Days -->
    <ng-container *ngIf="isVisibleActivityDay">
      <a
        class="list-group-item list-group-item-action"
        aria-current="true"
        *ngFor="let activityDay of getSelectedWorkoutActivityDays()"
        (click)="selectDay(activityDay)"
      >
        {{ activityDay.day }}
      </a>
    </ng-container>

    <div
      class="alert alert-primary"
      role="alert"
      *ngIf="
        isVisibleActivityDay && getSelectedWorkoutActivityDays().length == 0
      "
    >
      It has not yet been added to this Workout a day!
    </div>
  </div>
  <div class="col-4" *ngIf="isVisibleActivites">
    <!-- Activities for Day -->
    <div class="row mb-2">
      <div class="col">
        <h2 class="mb-0 float-start">Day {{ selectedDay.day }}</h2>
      </div>
    </div>
    <hr />
    <!-- Activities -->
    <!-- Add Activity Field -->
    <div class="row">
      <div class="col-9">
        <mat-form-field appearance="fill" style="width: 100% !important">
          <mat-label>Select Activity</mat-label>
          <mat-select [(value)]="selectedActivity">
            <mat-option *ngFor="let activity of activities!" [value]="activity">
              {{ activity.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <button
          class="btn btn-success btn-block mt-2 mr-2"
          (click)="addActivity()"
        >
          ADD
        </button>
      </div>
    </div>

    <div
      class="alert alert-primary"
      role="alert"
      *ngIf="selectedDay.activiteIDs!.length == 0"
    >
      It has not yet been added to this activity!
    </div>

    <div cdkDropList (cdkDropListDropped)="drop($event)">
      <div
        class="list-group-item list-group-item-action"
        aria-current="true"
        *ngFor="let activity of selectedDay.activities!"
        cdkDrag
      >
        <div class="row">
          <div class="col-9 text-start mt-2">{{ activity.name }}</div>
          <div class="col-3 text-end">
            <i
              (click)="removeActivityIDInActivityDay(activity)"
              class="bi bi-trash3-fill float-end delete-button"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
